//primary colors
$dark-green: #009E40;
$mid-green: #11C759;
$light-green: #80F5AD;

//copy
$copy-weak: #565C78;
$copy-strong: #000626;

//background colors:
$dark-bkg: #E6FFEF;
$mid-bkg: #F3FFF7;
$light-bkg: #FAFDFC;
$selected-bkg: #D1FFE2;
$grey-bkg: #F5F6FA;

//Supporting Colours
$green: #158463;
$red: #C94515;
$border: #9EA4C5;

// Breaking Point Table Desktop 
$tablet-screen: 768px;
$desktop-screen: 1280px;